# node modules
node_modules/

# configuration
.env
server/ts/firebase_config.ts
service_account.json

# firebase related
.firebaserc
firebase-debug.log

# to js compiled ts
server/js/*
# compiled sass
*.css
*.css.map

# python bytecode
*/**/__pycache__/