# node modules
node_modules/

# configuration
.env
src/ts/firebase_config.ts
service_account.json

# firebase related
.firebaserc
firebase-debug.log

# to js compiled ts
src/js/
page/js/

# compiled sass
*.css
*.css.map